@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Rubik:400,500,700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100vh;*/
    height: 100vh;
    background-color: gainsboro;
    margin: 0 auto;
}

.footer-nav {
    width: 500px;
}

.nav {
    width: 550px;
    height: 300px;
    display: grid;
    grid-template-columns: 100%;
    /*grid-template-rows: 250px 50px;*/
    grid-template: "circle-options" "base-options";
    justify-items: center;
}

.nav img {
    width: 50px;
    height: 50px;
}

.nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
}

.nav li {
    width: 100%;
    height: 50px;
    text-align: center;
}

/* ---- Icon Base ---- */

.menu-base-options {
    grid-area: base-options;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px;
    justify-content: space-around;
    justify-items: center;
    grid-column-gap: 50px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 13px 26px 77px -37px rgba(0, 0, 0, 0.56);
}

.menu-base-options li {
    padding-top: 20px;
}

.menu-base-options li:first-child {
    padding-left: 25px;
    margin-bottom: 10px;
}

.menu-base-options li:last-child {
    padding-right: 25px;
}

.icon-base {
    align-self: start;
    justify-self: center;
}

.more-btn-li:hover .icon-more-btn-svg {
    display: block;
    position: relative;
    top: -55px;
    transform: rotate(40deg) !important;
    transform-origin: 50% 50% !important;
}

.more-btn-li:hover .icon-more-btn {
    display: none;
}

.icon-more-btn-svg {
    display: none;
    width: 60px;
    height: 60px;
    fill: url('#grd-more-btn');
}

.icon-home-svg {
    width: 60px;
    height: 60px;
    fill: url('#grd-home');
}

.icon-home {
    display: none;
    width: 50px;
    height: 50px;
}

/* ---- Icon Circle ---- */

.circle-li-icon {
    width: 50px !important;
    height: 50px !important;
}

.menu-circle-options {
    /*border: 1px solid red;*/
    animation: rotate-circle 2s linear infinite;
    transform: rotate(180deg);
    transform-origin: 50% 100% !important;
    height: 200px;
    grid-area: circle-options;
    grid-template-columns: 145px 260px 145px !important;
    /*grid-template-rows: 80%;*/
    grid-template: ". circle-icon .";
    /*justify-items: center;*/
}

@keyframes rotate-circle {
    0% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(270deg);

    }
    100% {
        transform: rotate(360deg);
    }
}

.circle-li-icon {
    grid-area: circle-icon;
}

.icon-circle {

}

.li-icon-instagram-video {
    margin-left: 30px;
    margin-bottom: 10px;
    align-self: flex-end;
    /*place-self: center;*/
}

.li-icon-foto {
    margin-top: 30px;
    place-self: center center;
}

.li-icon-more-btn-circle {
    margin-right: 30px;
    margin-bottom: 10px;
    align-self: flex-end;
    place-self: end end;
}

/* ---- Other ---- */

.circle-style {
    position: relative;
    grid-area: circle-icon;
    width: 260px;
    height: 130px !important;
    /*background: linear-gradient(90deg, rgba(131, 58, 180, 1) 24%, rgba(253, 74, 29, 0.9500175070028011) 67%, rgba(252, 176, 69, 1) 85%);*/
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, .5);
    border-bottom: none;
    border-radius: 260px 260px 0 0;
    z-index: -1;
    align-self: flex-end;
}



















